#page-header {
  display: flex;
  height: 520px;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  background-color: pink;
  background-image: url("../images/diagmonds-light.png");
}

#profilePicture {
  display: flex;
}