#tweet-container {
  display: flex;
  width: 70vw;
  flex-direction: column-reverse;
}

.individual-tweet {
  padding: 20px;
  margin: 10px;
  width: 67vw;
  border: 4px solid black;
}

.individual-tweet:hover {
  box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.5);
}

#tweet-container header { 
  border-bottom: 3px black;
}

.username-container {
  display: flex;
  justify-content: space-between;
  margin: 0px
}

#tweet-container footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 3px solid black;
}

.icon-container {
  display: flex;
  margin: 0px
}

.icon-container .fa-solid {
  padding: 4px;
}

.icon-container .fa-solid:hover {
  color: rgb(184, 160, 23);  
}

.avatar-on-tweet {

}

.tweet-footer-text {
  font-size: medium;
}
